.advancedSearchWrapper{
	position: fixed;
	width: 100%;
	height: 430px;
	top: -430px;
	/* -390 */
	background-color: #140f0b;
	border-left: 1px solid #e9e4d0;
	border-bottom: 1px solid #e9e4d0;
	border-right: 1px solid #e9e4d0;
	z-index: 1000;
	transition: 0.5s;
	/* visibility: hidden; */
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	padding: 2px;
}
.advancedSearchBG{
	width: 100%;
	height: 100%;
	grid-column: 1/2;
	grid-row: 1/2;
	align-self: center;
	justify-self: center;
	filter: brightness(0.6);
	z-index: -1;
}

.advancedSearchActive{
top: 70px;
visibility: visible;
}

.advancedSearchMenuWrapper{
	grid-row: 1;
	grid-column: 1;
	width: 80%;
	height: 100%;
	align-self: center;
	justify-self: center;
	grid-template-rows: 40px 320px 1fr;
	grid-template-columns: 100%;
	grid-row-gap: 10px;
	/* justify-content: center; */
	/* align-content: space-between; */
}
.symbolAdvancedRow{
	padding-top: 10px;
	grid-row: 1;
	grid-column: 1;
	grid-template-rows: 100%;
	grid-template-columns: 1.2fr 1fr 0.4fr;
	grid-column-gap: 5%;
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 35px;
}
.manaSymbolsWrapper {
	grid-row: 1;
	grid-column: 1;
	grid-template-rows: 100%;
	grid-template-columns: repeat(7, 1fr);
	grid-column-gap: 2px;
	width: 100%;
	height: 100%;
}
.manaSymbolsBG{
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	grid-column: 1/8;
	grid-row: 1;
	background-color: #e9e4d0;
	border-radius: 16px;
	opacity: 0.3;
}
.manaSymbol{
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 1;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
	align-self: center;
	justify-self: center;
	grid-row: 1;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.manaSymbol:hover{
	cursor: pointer;
	/* filter: brightness(1); */
	/* border: solid 2px #ff5b38; */
	/* filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8)); */
}
.manaSymbol>i{
	font-size: 28px;
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
}
.white{
	grid-column: 1;
	color: white;
	z-index: 10;
	/* background-color: rgba(233,228,208,0.6); */
}
.blue{
	grid-column: 2;
	color: blue;
	z-index: 10;
}
.black{
	grid-column: 3;
	color: black;
	z-index: 10;
}
.red{
	grid-column: 4;
	color: red;
	z-index: 10;
}
.green{
	grid-column: 5;
	color: green;
	z-index: 10;
}
.colorLess{
	grid-column: 6;
	color: grey;
	z-index: 10;
}
.multiColor{
	grid-column: 7;
	color: gold;
	z-index: 10;
}

.manaCostWrapper {
	grid-row: 1;
	grid-column: 2;
	grid-template-rows: 100%;
	grid-template-columns: repeat(8, 1fr);
	grid-column-gap: 2px;
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center;
}
.manaCostBG{
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	grid-column: 1/9;
	grid-row: 1;
	background-color: #e9e4d0;
	border-radius: 16px;
	opacity: 0.3;
}

.manaCost{
	align-self: center;
	justify-self: center;
	grid-row: 1;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #e9e4d0;
	font-size: 23px;
	display: flex;
	align-content: center;
	justify-content: center;
	filter: brightness(0.6);
}
.manaCost:hover{
	cursor: pointer;
	filter: brightness(0.8);
	/* border: solid 2px #ff5b38; */
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
}
.manaCost>h4{
	align-self: center;
	justify-self: center;
}

.zero{
	grid-column: 1;
	z-index: 10;
}
.one{
	grid-column: 2;
	z-index: 10;
}
.two{
	grid-column: 3;
	z-index: 10;
}
.three{
	grid-column: 4;
	z-index: 10;
}
.four{
	grid-column: 5;
	z-index: 10;
}
.five{
	grid-column: 6;
	z-index: 10;
}
.six{
	grid-column: 7;
	z-index: 10;
}
.seven{
	grid-column: 8;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 10;
}
.h4Plus{
	font-size: 19px;
}

.playedWrapper{
	grid-row: 1;
	grid-column: 3;
	grid-template-rows: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2px;
	width: 100%;
	height: 100%;
	align-content: center;
	justify-content: center;
}
.playedBG{
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	grid-column: 1/4;
	grid-row: 1;
	background-color: #e9e4d0;
	border-radius: 16px;
	opacity: 0.3;
}
.played{
	align-self: center;
	justify-self: center;
	grid-row: 1;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #e9e4d0;
	font-size: 16px;
	display: flex;
	align-content: center;
	justify-content: center;
	filter: brightness(0.6);
}
.played:hover{
	cursor: pointer;
	filter: brightness(0.8);
	/* border: solid 2px #ff5b38; */
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
}

.played>h4{
	align-self: center;
	justify-self: center;
}
.nm{
	grid-column: 1;
	z-index: 10;
}
.pl{
	grid-column: 2;
	z-index: 10;
}
.hp{
	grid-column: 3;
	z-index: 10;
}


.advancedSearchListWrapper{
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: 2;
	grid-template-rows: 100%;
	grid-template-columns: 0.7fr 1.5fr 0.5fr;
	grid-column-gap: 10px;
	align-self: center;
	justify-self: center;
}
.advancedSearchCardType{
	grid-template-rows: 40px 1fr;
	grid-template-columns: 100%;
	grid-row: 1;
	grid-column: 1;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.5s;
}
.advancedSearchCardType::-webkit-scrollbar {
	width: 0px;
display: none;
}
.advancedSearchCardType::-webkit-scrollbar-thumb {
	width: 0px;
	display: none;
}

.typeSearchFrame{
	grid-row: 2;
	grid-column: 1;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	width: 100%; 
	height: 100%;
	padding-left: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
	align-content: start;
	justify-content: start;
}

.typeSearchFrame::-webkit-scrollbar {
	width: 0px;
display: none;
}
.typeSearchFrame::-webkit-scrollbar-thumb {
	width: 0px;
display: none;
}

.typeSearchFrameName{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.typeSearchFrameName>h4{
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
	align-self: center;
	font-size: 28px;
	color: #e9e4d0;
	z-index: 1000;
}

.cardTypeBG{
	grid-row: 1/3;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	background-color: #e9e4d0;
	border-radius: 16px;
	opacity: 0.3;
}

.advancedSearchListFrame{
	/* border: dotted 1px white; */
	grid-template-rows: 100%;
	grid-template-columns: 30px calc(100% - 30px);
	height: 40px;
	grid-column-gap: 10px;
	padding-left: 7px;
	z-index: 2000;
}

.advancedSearchListFrame:hover{
	cursor: pointer;
}


.roundSearch{
	background-color: #e9e4d0;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	grid-row: 1;
	grid-column: 1;
	justify-self: center;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	/* padding-left: 40; */
}

.roundSearchHover{
	border: #ff5b38 solid 2px;
}

.advancedSearchListFrameText{
	width: 100%;
	height: 100%;
	align-self: center;
	justify-self: start;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: start;
}

.advancedSearchListFrameTextOff{
	color: #e9e4d0;
	font-size: 20px;
}

.advancedSearchListFrameTextOn{
	color: #ff5b38;
}

.advancedSearchListFrameTextMouseOn{
	color: #ff5b38;
}

.creatureSearch{
	grid-row: 1;
	grid-column: 1;
}
.playnwalkerSearch{
	grid-row: 2;
	grid-column: 1;
}
.sorcerySearch{
	grid-row: 3;
	grid-column: 1;
}
.instantSearch{
	grid-row: 4;
	grid-column: 1;
}
.landSearch{
	grid-row: 5;
	grid-column: 1;
}
.enchantmentSearch{
	grid-row: 6;
	grid-column: 1;
}
.artifactSearch{
	grid-row: 7;
	grid-column: 1;
}
.tribalSearch{
	grid-row: 8;
	grid-column: 1;
}

.commonSearch{
	grid-row: 1;
	grid-column: 1;
}
.uncommonSearch{
	grid-row: 2;
	grid-column: 1;
}
.rareSearch{
	grid-row: 3;
	grid-column: 1;
}
.mythicSearch{
	grid-row: 4;
	grid-column: 1;
}
.spetialSearch{
	grid-row: 5;
	grid-column: 1;
}

.advancedSearchSet{
	grid-row: 1;
	grid-column: 2;
	width: 100%;
	height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 40px 1fr;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.5s;
}
.advancedSearchSet::-webkit-scrollbar {
	width: 0px;
display: none;
}
.advancedSearchSet::-webkit-scrollbar-thumb {
	width: 0px;
display: none;
}
.advancedSearchSetName{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.advancedSearchSetName>h4{
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
	align-self: center;
	font-size: 28px;
	color: #e9e4d0;
	z-index: 1000;
}

.setSearchFrame{
	grid-row: 2;
	grid-column: 1;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	width: 100%; 
	height: 100%;
	padding-left: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
	align-content: start;
	justify-content: start;
}


.setSearchFrame::-webkit-scrollbar {
	width: 0px;
display: none;
}
.setSearchFrame::-webkit-scrollbar-thumb {
	width: 0px;
display: none;
}

.setSearch{
	/* width: 90%; */
}

.setBG{
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	grid-row: 1/3;
	grid-column: 1;
	background-color: #e9e4d0;
	border-radius: 16px;
	opacity: 0.3;
}

.advancedSearchRarity{
	grid-row: 1;
	grid-column: 3;
	width: 100%;
	height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 40px 1fr;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: 0.5s;
}

.advancedSearchRarity::-webkit-scrollbar {
	width: 0px;
display: none;
}
.advancedSearchRarity::-webkit-scrollbar-thumb {
	width: 0px;
display: none;
}

.raritySearchFrame{
	grid-row: 2;
	grid-column: 1;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	width: 100%; 
	height: 100%;
	padding-left: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
	align-content: start;
	justify-content: start;
}

.raritySearchFrame::-webkit-scrollbar {
	width: 0px;
display: none;
}
.raritySearchFrame::-webkit-scrollbar-thumb {
	width: 0px;
display: none;
}


.raritySearchFrameName{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.raritySearchFrameName>h4{
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
	align-self: center;
	font-size: 28px;
	color: #e9e4d0;
	z-index: 1000;
}



.rarityBG{
	align-self: center;
	justify-self: center;
	width: 100%;
	height: 100%;
	grid-row: 1/3;
	grid-column: 1;
	background-color: #e9e4d0;
	border-radius: 16px;
	opacity: 0.3;
}

.advancedSearchButtonsWrapper{
	grid-column: 1;
	grid-row: 3;
	width: 100%;
	height: 90%;
	grid-template-columns: repeat(1fr,2);
	grid-template-rows: 100%;
}
.advancedSearchReset{
	grid-row: 1;
	grid-column: 1;
	align-content: flex-start;
	text-align: left;
	justify-content: start;
}
.advancedSearchReset>h3{
	color: #e9e4d0;
	font-size: 35px;
	text-transform: uppercase;
	margin: 0;
}
.advancedSearchReset>h3:hover{
	color: #ff5b38;
	cursor: pointer;
}


.advancedSearchApply{
	grid-row: 1;
	grid-column: 2;
	/* align-content: center;
	justify-content: end; */
	align-content: flex-start;
	text-align: right;
	justify-content: end;
}
.advancedSearchApply>h3{
	color: #e9e4d0;
	font-size: 35px;
	text-transform: uppercase;
	margin: 0;
}

.advancedSearchApply>h3:hover{
	color: #ff5b38;
	cursor: pointer;
}

/* onClick */
.advancedClicked{
	filter: brightness(1);
	/* background-color: #ff5b38; */
	border: solid 2px #ff5b38;
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
}

.advancedClickedTypeSetRarity{
	/* filter: brightness(1); */
	background-color: #ff5b38;
	/* border: solid 2px #ff5b38; */
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.8));
}




/* Media */
@media only screen and (max-width: 1280px) {
	.symbolAdvancedRow{
		grid-template-columns: 1.2fr 1.2fr 0.5fr;
	}
	.advancedSearchListWrapper{
		grid-template-columns: 0.7fr 1.3fr 0.7fr;
		/* grid-column-gap: 10px; */
	}
}


@media only screen and (max-width: 1024px) {
	.advancedSearchMenuWrapper{
		width: 90%;
	}
}

@media only screen and (max-width: 920px) {
	.symbolAdvancedRow{
		grid-template-columns: 1.2fr 1.4fr 0.6fr;
		grid-column-gap: 10px;
	}
}


@media only screen and (max-width: 800px) {
	.advancedSearchWrapper{
		border-left: 0px;
		border-bottom: 0px;
		border-right: 0px;
	}
	.advancedSearchMenuWrapper{
		grid-template-rows: 80px calc(100% - 170px) 60px;
		justify-content: center;
		align-content: space-between;
	}
	.symbolAdvancedRow{
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 7fr 3fr;
		height: 100%;
		grid-row-gap: 10px;
	}
	.manaSymbolsWrapper{
		grid-row: 2;
		grid-column: 1;
	}
.manaCostWrapper{
	grid-row: 1;
	grid-column: 1/3;
}
.playedWrapper{
	grid-row: 2;
	grid-column: 2;
}

	.advancedSearchWrapper{
		height: calc(100% - 70px);
		top: -100%;
	}
	.advancedSearchActive{
		top: 70px;
		}

	.bodyAdvancedStopScroll {
		overflow-y: hidden;
	}

	.advancedSearchListWrapper{
		height: 100%;
		grid-template-rows: 6fr 4fr;
		grid-template-columns: 6fr 4fr;
		grid-gap: 10px;
	}

	.advancedSearchSet{
		grid-row: 1/3;
		grid-column: 1;
	}

	.advancedSearchCardType{
		grid-row: 1;
		grid-column: 2;
	}
	.advancedSearchRarity{
		grid-row: 2;
		grid-column: 2;
	}

	.advancedSearchReset{
		align-content: center;
	}

	.advancedSearchApply{
		align-content: center;
	}

}

@media only screen and (max-width: 600px) {
	.roundSearch{
		width: 24px;
		height: 24px;
	}

	.advancedSearchWrapper{
		border: 0px;
	}
	
.advancedSearchListWrapperTypeOn{
	grid-template-rows: calc(100% - 100px) 40px 40px;
	grid-template-columns: 100%;
	height: 100%;
	grid-row-gap: 10px;
}

.advancedSearchListWrapperSetOn{
	grid-template-rows: 40px calc(100% - 100px) 40px;
	grid-template-columns: 100%;
	height: 100%;
	grid-row-gap: 10px;
}

.advancedSearchListWrapperRarityOn{
	grid-template-rows: 40px 40px calc(100% - 100px);
	grid-template-columns: 100%;
	height: 100%;
	grid-row-gap: 10px;
}

.advancedSearchCardTypeOn{
	grid-template-rows: 40px calc(100% - 40px);
	height: 100%;
	align-self: flex-start;
}

.advancedSearchCardTypeOff{
	grid-template-rows: 40px 0;
	height: 100%;
	align-self: flex-start;
}

.advancedSearchSetOn{
	grid-template-rows: 40px calc(100% - 40px);
	height: 100%;
	align-self: flex-start;
}

	.advancedSearchSetOff{
		grid-template-rows: 40px 0px;
		height: 100%;
		align-self: flex-start;
	}

	.advancedSearchRarityOn{
		grid-template-rows: 40px calc(100% - 40px);
		height: 100%;
		align-self: flex-start;
	}

	.advancedSearchRarityOff{
		grid-template-rows: 40px 0px;
		height: 100%;
		align-self: flex-start;
	}

	.advancedSearchCardType{
		grid-row: 1;
		grid-column: 1;
		align-self: start;
	}
	.advancedSearchSet{
		grid-row: 2;
		grid-column: 1;
		align-self: start;
	}
	.advancedSearchRarity{
		grid-row: 3;
		grid-column: 1;
		align-self: start;
	}

}







@media only screen and (max-width: 416px) {
	.advancedSearchMenuWrapper{
		width: 98%;
	}
	.advancedSearchReset>h3{
		font-size: 30px;
	}
	.advancedSearchApply>h3{
		font-size: 30px;
	}
	.manaSymbol{
		width: 25px;
		height: 25px;
	}
	.manaSymbol>i{
		font-size: 24px;
	}
	.manaCost{
		width: 25px;
		height: 25px;
		font-size: 23px;
	}
	.played{
		width: 25px;
		height: 25px;
		font-size: 13px;
	}
	.symbolAdvancedRow{
		grid-column-gap: 5px;
	}
}

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-height: 812px) and (max-width: 380px){}

@media only screen and (max-height: 740px) and (max-width: 430px){}

@media only screen and (max-height: 680px) and (max-width: 380px){}

@media only screen and (max-height: 570px) and (max-width: 330px){}




