.mailFormWrapper{
	top: 80px;
	left: calc((100% - 320px) / 2);
	width: 320px;
	height: calc(100% - 90px);
	min-height: 490px;
	max-height: 812px;
	position: fixed;
	grid-template-rows: 1fr 60px 60px;
	grid-template-columns: 100%;
	/* background-color: #e9e4d0; */
	background-color: rgba(233,228,208,0.7);
	color: #32231a;

	overflow: hidden;
	justify-content: center;
	border-radius: 20px;
	z-index: -1;
	visibility: hidden;
}

.showMailForm{
	visibility: visible;
	z-index: 2000;
}

.mailInputWrapper{
	grid-row: 1;
	grid-column: 1;
	width: 90%;
	height: 90%;
	overflow: hidden;
	justify-self: center;
	align-self: flex-start;
	margin-top: 35px;
	display: flex;
	position: relative;
}
.mailFormTextAbsent{
	width: 250px;
	top: 10px;
	left: calc((100% - 250px) / 2);
	position: absolute;
	text-align: center;
	font-size: 20px;
	color: rgb(100%, 36%, 22%, 1);
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.7));
	visibility: hidden;
}
.mailFormTextAbsentOn{
	visibility: visible;
}

.mailFormText{
	justify-self: center;
	align-self: center;
	width: 98%;
	height: 98%;
	font-size: 20px;
	background-color:#e9e4d0;
	border: solid 1px #32231a;
	border-radius: 5px;
	outline:none;
	font-family: "rockwell", sans-serif;
	margin: 0px;
	text-decoration: none;
	font-weight: 10;
	resize: none;
}

.mailFormText::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(53, 34, 23, 1.0);;
}
.mailFormText::-webkit-scrollbar-thumb {
	background-color: rgb(100%, 36%, 22%, 0.7);
	border-radius: 10px;
	width: 8px;
}

.mailFormIconClose{
	font-size: 25px;
	position: absolute;
	top: 7px;
	left: 5px;
}
.mailFormIconClose:hover{
	cursor: pointer;
	color: #ff5b38;
}
.mailClientEmailWrapper{
	align-self: flex-start;
	justify-self: center;
	grid-row: 2;
	grid-column: 1;
	width: 90%;
	height: 100%;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 100%;
}
.mailClientEmailWrapper>h4{
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	font-size: 18px;
	font-weight: 10;
	/* filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.7)); */
}
.mailFormClientEmail{
	justify-self: center;
	align-self: center;
	grid-row: 2;
	grid-column: 1;
	height: 35px;
	font-size: 20px;
	width: 100%;
	background-color:#e9e4d0;
	font-family: "rockwell", sans-serif;
	margin: 0px;
	text-decoration: none;
	font-weight: 10;
	border: solid 1px #32231a;
	border-radius: 5px;
	outline: none;
}

.mailButtonWrapper{
	grid-row: 3;
	grid-column: 1;
	width: 90%;
	height: 90%;
	overflow: hidden;
	justify-self: center;
	align-self: flex-start;
	grid-template-rows: 100%;
	grid-template-columns: 1fr 1fr;
}

.mailFormClearButton{
	display: flex;
	grid-row: 1;
	grid-column: 1;
	align-content: center;
	text-align: left;
	justify-content: flex-start;
}
.mailFormClearButton>h3{
	align-self: center;
	color: #32231a;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
}
.mailFormClearButton>h3:hover{
	color: #ff5b38;
	cursor: pointer;
}

.mailFormSendButton{
	display: flex;
	grid-row: 1;
	grid-column: 2;
	align-content: center;
	text-align: right;
	justify-content: flex-end;
}
.mailFormSendButton>h3{
	align-self: center;
	color: #32231a;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0;
}
.mailFormSendButton>h3:hover{
	color: #ff5b38;
	cursor: pointer;
}

/* Media */
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 920px) {}
@media only screen and (max-width: 800px) {}
@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 430px) {
	.mailFormWrapper{
		top: 70px;
		left: 0;
		width: 100%;
		height: calc(100% - 70px);
		border-radius: 0px;
	}
	.bodyMailStopScroll {
		overflow-y: hidden;
	}
}

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}

/* IphoneX */
@media only screen and (max-height: 812px) and (max-width: 380px) and (orientation: landscape){}

@media only screen and (max-height: 740px) and (max-width: 430px) and (orientation: landscape){}

@media only screen and (max-height: 680px) and (max-width: 380px) and (orientation: landscape){}

@media only screen and (max-height: 470px) and (orientation: landscape){
.mailFormWrapper{
	top: 71px;
	left: 0px;
	width: 100%;
	height:calc(100% - 71px);
	min-height: 249px;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1.2fr 1fr;
	border-radius: 0;
}
.mailInputWrapper{
	grid-row: 1/3;
	grid-column: 1;
	height: 80%;
}
.mailFormText{
	height: 96%;
}
.mailClientEmailWrapper{
	align-self: flex-start;
	justify-self: center;
	grid-row: 1;
	grid-column: 2;
}
.mailClientEmailWrapper>h4{
	align-self: flex-end;
}
.mailFormClientEmail{
	align-self: flex-start;
}

.mailButtonWrapper{
	grid-row: 2;
	grid-column: 2;
}
.mailFormClearButton>h3{
	align-self: flex-end;
}
.mailFormSendButton>h3{
	align-self: flex-end;
}
.bodyMailStopScroll {
	overflow-y: hidden;
}
}

@media only screen and (max-height: 470px) and (max-width: 420px) and (orientation: landscape){
	.mailFormClearButton>h3{
		font-size: 20px;
	}

	.mailFormSendButton>h3{
		font-size: 20px;
	}

	.mailClientEmailWrapper>h4{
		font-size: 16px;
	}
	}
