@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1680px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 920px) {}

@media only screen and (max-width: 800px) {
.sortWrapper{
	width: 98%;
}

.body::-webkit-scrollbar {
	width: 0px;
	display: none;
	}
.body::-webkit-scrollbar-thumb {
	width: 0px;
	display: none;
	}
}



@media only screen and (max-width: 650px) {}


@media only screen and (max-width: 600px) {
		.totalCardsWrapper{
			display: none;
		}
		.sortBG{
			grid-column: 1/4;
		}
		.sortText{
			grid-column: 1/3;
			grid-template-columns: 100px 1fr;
		}
		.sortTextBy{
			justify-self: start;
			margin-left: 10px;
		}
		.sortingTypeWrapper{
			margin-left: 0px;
		}
		.sortListing{
			margin-left: 0px;
		}
	}

@media only screen and (max-width: 533px) {
	.saleWrapper{
		font-size: 45px;
		margin-top: 40px;
}
.collectionWrapper{
	font-size: 45px;
}

}


@media only screen and (max-width: 416px) {}

@media only screen and (max-width: 400px) {}



@media only screen and (max-width: 360px) {
	.saleWrapper{
		font-size: 40px;
	}
.collectionWrapper{
	font-size: 40px;
	}
.sortDirection{
	font-size: 28px;
	}
}

@media only screen and (max-width: 320px) {}

@media only screen and (max-height: 812px) and (max-width: 380px){
	.saleWrapper{
		margin-top: 25px;
	}
}

@media only screen and (max-height: 740px) and (max-width: 430px){
	.saleWrapper{
		margin-top: 85px;
	}
}



@media only screen and (max-height: 680px) and (max-width: 380px){
	.saleWrapper{
		margin-top: 55px;
	}
}


@media only screen and (max-height: 570px) and (max-width: 330px){
	.saleWrapper{
		margin-top: 25px;
	}
}
/* IPhone5 landscape */
/* @media only screen and (max-height: 330px) and (max-width: 570px){
	.sliderBG{
		z-index: 0;
	}
} */