.sliderArrowWrapper{
	width: 100%;
	/* height: 46vh; */
	/* height: 344px; */
	/* height: 320px; */
	height: 400px;
	grid-template-rows: 100%;
	grid-template-columns: 10% 80% 10%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.arrowLeft{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}
.iconArrowLeft{
	transform: scaleX(0.4) scaleY(1.5);
	font-size: 90px;
	color: #e9e4d0;
	/* transform: translateX(25px) */
}
.iconArrowLeft:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(-3px -3px 0px rgba(0,0,0,0.7));
}

.arrowRight{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	}
.iconArrowRight{
	transform: scaleX(0.4) scale(-1, 1) scaleY(1.5);
	/* width: 50%; */
	font-size: 90px;
	color: #e9e4d0;
}
.iconArrowRight:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(-3px -3px 0px rgba(0,0,0,0.7));
}

.sliderWrapper{
	grid-row: 1;
	grid-column: 2;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	/* grid-column-gap: 10px; */
	/* grid-template-columns: auto; */
	height: 100%;
	width: 100%;
	align-self: center;
	justify-self: center;
	justify-content: center;
	align-content: center;
}

.sliderBG{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 2;
	background-color: #ff5b38;
	border-radius: 20px;
	opacity: 0.4;
	z-index: 0;
}

.sliderImg{
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	width: 250px;
	grid-row: 1;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 10;
	/* justify-self: center; */
	align-self: center;
	/* overflow: hidden; */
	/* border: 1px solid #e9e4d0; */
	/* border-radius: 10px; */
/* position: relative; */
	transition: 1s ease;
	}

.sliderImgInner{
	width: 250px;
	grid-row: 1;
	grid-column: 1;
	height: 100%;
	justify-content: start;
	align-items: center;
	z-index: 10;
	transition: 1s ease;
}


.leftSlide{
	transform: translateX(-100%);
}
.midSlide{
	transform: translateX(0);
}
.rightSlide{
	transform: translateX(100%);
}




/* супер важные размеры!!! */
.tagIconWrapper{
	grid-row: 1;
	grid-column: 1;
	width: 230px;
	height: 331px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 10px;
}


.tagIconWrapper:hover{
	cursor: pointer;
}

.tagIcon{
	position: absolute;
	top: 200px;
	left: 109px;
	width: 136px;
	height: 136px;
	filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.8));
}
.saleText{
	position: absolute;
	width: 68px;
	height:59px;
	top: 228px;
	left: 167px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;
}

.prevPrice{
	color: #e9e4d0;
text-decoration: line-through;
font-size: 21px;
}
.presentPrice{
	color: #32231a;
	font-size: 30px;
	margin-right: 15px;
}


.sliderHiddenWrapper{
	grid-row: 1;
	grid-column: 1;
	grid-template-rows: 100%;
	/* grid-template-columns: repeat(5,1fr); */
	grid-column-gap: 20px;
	height: 100%;
	width: 1350px;
	align-self: center;
	justify-self: center;
	justify-content: space-around;
	align-content: center;
	position: relative;
	overflow: hidden;
}


/* .sliderImgPlace0{
	grid-row: 1;
	grid-column: 1;
}
.sliderImgPlace1{
	grid-row: 1;
	grid-column: 2;
}
.sliderImgPlace2{
	grid-row: 1;
	grid-column: 3;
}
.sliderImgPlace3{
	grid-row: 1;
	grid-column: 4;
}
.sliderImgPlace4{
	grid-row: 1;
	grid-column: 5;
} */



@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1680px) {
	.sliderHiddenWrapper{
		/* grid-template-columns: repeat(4,250px); */
		width: 1080px;
	}
	.sliderImgPlace4{
		display: none;
	}
}

@media only screen and (max-width: 1366px) {
	.sliderArrowWrapper{
		height: 320px;
	}
	.tagIconWrapper{
		width: 192px;
		height: 276px;
	}
	.tagIcon{
		top: 155px;
		left: 75px;
		width: 130px;
		height: 130px;
	}
	.saleText{
		width: 68px;
		height:59px;
		top: 180px;
		left: 125px;
	}
	.sliderImg{
		width: 210px;
	}
	.sliderImgInner{
		width: 210px;
	}
	.sliderHiddenWrapper{
		width: 920px;
		/* grid-template-columns: repeat(4,210px); */
	}
}

@media only screen and (max-width: 1280px) {
	.sliderHiddenWrapper{
		/* grid-template-columns: repeat(3,210px); */
		width: 690px;
	}
	.sliderImgPlace3{
		display: none;
	}
	.iconArrowLeft{
		font-size: 70px;
	}
	.iconArrowRight{
		font-size: 70px;
	}
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 920px) {
	.sliderHiddenWrapper{
		/* grid-template-columns: repeat(2,210px); */
		width: 460px;
	}
	.sliderImgPlace2{
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.sliderBG{
		grid-column: 1/4;
	}
}

@media only screen and (max-width: 650px) {}

@media only screen and (max-width: 600px) {
	.sliderHiddenWrapper{
		/* grid-template-columns: 210px; */
		width: 230px;
	}
	.sliderImgPlace1{
		display: none;
	}
}

@media only screen and (max-width: 533px) {}

@media only screen and (max-width: 416px) {}

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-height: 812px) and (max-width: 380px){}

@media only screen and (max-height: 740px) and (max-width: 430px){}

@media only screen and (max-height: 680px) and (max-width: 380px){}

@media only screen and (max-height: 570px) and (max-width: 330px){}
