/* #32231a - тёмно-коричневый */
/* #140f0b - новый тёмно-коричневый */
/* #e9e4d0 - кремовый */
/* #ff5b38 - яркий оранжево-красный */



body {
	overflow-x: hidden;
	background-color: #140f0b;
}
body::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(233, 228, 208, 0.3);;
}
body::-webkit-scrollbar-thumb {
	background-color: rgb(100%, 36%, 22%, 0.7);
	border-radius: 10px;
	width: 8px;
}
.infoFrame{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	visibility: hidden;
	background-color: #e9e4d0;
	color: #140f0b;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	border-radius: 20px;
}

.infoFrameIconClose{
	font-size: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
}
.infoFrameIconClose:hover{
	cursor: pointer;
	color: #ff5b38;
}
.bodyBG {
	filter: brightness(0.4);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	left: 0;
	top: 0;
	position: fixed;
	z-index: -10;
}
.grid{
	display: grid;
}
.borded{
	border: white 2px dotted;
}
h4{
	font-family: "rockwell", sans-serif;
	margin: 0px;
	text-decoration: none;
	font-weight: 10;
}
h3{
	font-family: "capture-it", sans-serif;
	margin: 0px;
	text-decoration: none;
	font-weight: 10;
}
/* Cart */
.menuCart {
	font-size: 20px;
	color:#e9e4d0;
	position: fixed;
	top: 70px;
	margin-left: 100%;
	/* width: 320px; */
	width: 35%;
	min-width: 320px;
	max-width: 416px;
	height: calc(100% - 70px);
	background-color: #140f0b;
	border-left: 1px solid #e9e4d0;
	border-top: 1px solid #e9e4d0;
	border-right: 1px solid #e9e4d0;
	transition: 0.5s;
	z-index: 1000;
	visibility: hidden;
}
.menuCartActive {
	transform: translateX(-100%);
	visibility: visible;
}

.cartWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	grid-template-rows: 1fr 160px;
	grid-template-columns: 100%;
	justify-content: center;
	align-content: center;
}
.cartFooter{
	grid-template-rows: 1fr 1.2fr 1fr;
	grid-template-columns: 100%;
	grid-row: 2;
	grid-column: 1;
	width: 100%;
	height: 100%;
	align-self: center;
	justify-self: center;
	border-top: 1px solid #e9e4d0;
}
.cartTotal{
	width: 90%;
	height: 100%;
	align-self: center;
	justify-self: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.total{
	text-decoration: underline;
}
.cartPriceTotal{
	color:#ff5b38;
}
.cartMailWrapper{
	width: 90%;
	height: 100%;
	grid-column: 1;
	grid-row: 2;
	align-self: center;
	justify-self: center;
	grid-template-rows: 0.5fr 1fr;
	grid-template-columns: 100%;
}
.cartEmailLink{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 1;
	display: flex;
	align-items:flex-end;
	justify-content: start;
	font-size: 15px;
}
.cartEmailLink>h4:hover{
	cursor: pointer;
	color: #ff5b38;
}
.cartMail{
	grid-row: 2;
	grid-column: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
	margin-top: 5px;
}
.cartMailTextWrapper{
	height: 35px;
	background-color:#e9e4d0;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.textCartMail{
	width: 90%;
	height: 30px;
	font-size: 25px;
	background-color:#e9e4d0;
	border: none;
	outline:none;
	font-family: "rockwell", sans-serif;
	margin: 0px;
	text-decoration: none;
	font-weight: 10;
}
.cartOrder{
	align-self: center;
	justify-self: center;
	grid-row: 3;
	grid-column: 1;
	width: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding: 5px; */
}
.orderText{
	/* padding: 5px; */
	border-radius: 10px;
	border:#ff5b38 2px solid;
	font-size: 25px;
	color:#ff5b38;
}
.orderText:hover{
	cursor: pointer;
	color:#e9e4d0;
	border:#e9e4d0 2px solid;
	filter: drop-shadow(3px -3px 0px rgba(0,0,0,1));
}



.cartWrapperContent{
	grid-row: 1;
	grid-column: 1;
	align-self: start;
	justify-self: center;
	width: 100%;
	height: auto;
	max-height: 100%;
	overflow-y: auto;
	grid-template-columns: 90%;
	align-items: start;
	justify-content: center;
}
.emptyCart{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.emptyCart>h3{
font-size: 20px;
}
.emptyCartHidden{
	display: none;
}




/* ползунок */
.cartWrapperContent::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(233, 228, 208, 0.3);;
}
.cartWrapperContent::-webkit-scrollbar-thumb {
	background-color: rgb(100%, 36%, 22%, 0.7);
	border-radius: 10px;
	width: 8px;
}

.cartFrame{
	align-self: start;
	justify-self: center;
	width: 100%;
	height: 120px;
	margin-top: 10px;
	grid-template-rows: 100%;
	grid-template-columns: 30% 70%;
	position: relative;
}
.cartFrameBG{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 1/3;
	background-color: #e9e4d0;
	border-radius: 10px;
	opacity: 0.3;
}
.cartRemoveFrame{
	position: absolute;
	left: 93%;
	top: 4%;
	font-size: 14px;
	z-index: 10;
}
.cartRemoveFrame:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(1px -1px 0px rgba(0,0,0,0.5));
}


.cartImgFrame{
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: 1;
	justify-self: center;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	}
.cartImg{
	border-radius: 5px;
	height: 110px;
	width: 79px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.cartFrameInfo{
	grid-column: 2;
	grid-row: 1;
	width: 100%;
	height: 100%;
	grid-template-rows: 65% 35%;
	grid-template-columns: 100%;
}
.cartFrameInfoText{
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: start;
	width: 90%;
	height: 100%;
	font-size: 10px;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 100%;
	align-content: center;
	justify-content: start;
}
.cartFrameInfoTextName{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 15px;
	color: #e9e4d0;
	filter: drop-shadow(2px -2px 0px rgba(0,0,0,0.8));
	flex-wrap: wrap;
}
.cartFrameInfoTextName>h4{
	padding-left: 5px;
}

.cartFrameInfoTextConditions{
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 14px;
	color: #e9e4d0;
	flex-wrap: wrap;
	grid-row: 2;
	grid-column: 1;
	z-index: 10;
}
.cartFrameInfoTextConditions>h4{
	padding-left: 5px;
}

.cartFrameInfoMain{
	grid-row: 2;
	grid-column: 1;
	grid-template-rows: 100%;
	grid-template-columns: 23% 44% 33%;
	z-index: 10;
	/* grid-column-gap: 2px; */
}
.cartMainPrice{
	grid-row: 1;
	grid-column: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}
.cartMainPrice>h4{
	padding-left: 5px;
}
.cartMainQuantity{
	grid-row: 1;
	grid-column: 2;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cartMainPlus{
	font-size: 16px;
	font-weight: solid;
	padding-left: 2px;
}
.cartMainPlus:hover{
	cursor: pointer;
	color:  #ff5b38;
	filter: drop-shadow(1px -1px 0px rgba(0,0,0,0.5));
}
.cartMainMinus{
	font-size: 16px;
	padding-right: 2px;
}
.cartMainMinus:hover{
	cursor: pointer;
	color:  #ff5b38;
	filter: drop-shadow(1px -1px 0px rgba(0,0,0,0.5));
}
.cartMainFrameQuantity{
	font-size: 16px;
}
.cartMainManagWrapper{
	width: 80%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #e9e4d0;
	border-radius: 10px;
	color:#140f0b;
	z-index: 10;
}

.cartMainTotal{
	grid-row: 1;
	grid-column: 3;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 14px;
	/* padding-left: 20px; */
}
.cartTotalPrice{
	font-size: 16px;
	color: #ff5b38;
}




/* Header */
.headerWrapper{
	grid-template-columns: 0.3fr 1fr 0.1fr 0.1fr 0.1fr;
	grid-template-rows: 100%;
	width: 100%;
	height: 70px;
	grid-gap: 0.1fr;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color:#140f0b;
	color: #e9e4d0;
	border-bottom: 1px solid #e9e4d0;
	z-index: 100;
}

.headerBG{
	width: 100%;
	height: 100%;
	grid-column: 1/6;
	grid-row: 1;
	align-self: center;
	justify-self: center;
	/* filter: brightness(0.4); */
	z-index: -5;
}
.headerLogoArea{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.headerLogo{
	width: 200px;
	height: 69px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.headerLogoPhone{
	margin-top: 79px;
	width: 200px;
	/* height: 69px; */
	height: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
}

.searchArea{
	width: 90%;
	/* height: 90%; */
	height: 70px;
	align-self: start;
	justify-self: center;
	grid-template-columns: 100%;
	/* grid-template-rows: 1fr 0.5fr; */
	grid-template-rows: 46px 24px;
	/* grid-gap: 0.2fr; */
	grid-row: 1;
	grid-column: 2;
}


.mainSearch{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	align-self: center;
	justify-self: center;
	background-color:#e9e4d0;
	border-radius: 20px;
}

.searchListing{
	grid-row: 1;
	grid-column: 1;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	width: 84%;
	height: auto;
	align-content: center;
	justify-items: center;
	transform: translateY(47px);
	align-self: start;
	justify-self: center;
	z-index: 50;
	background-color: #e9e4d0;
	
	visibility: visible;
}
.searchListingVisibility{
	visibility: visible;
}
.searchFrame{
	width: 100%;
	min-height: 32px;
	max-height: 38px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
}
.searchFrame:hover{
	cursor: pointer;
	background-color: #ff5b38;
}
.searchFrameText{
	margin-left: 10px;
	color: #140f0b;
}



.nikitaSearchIcon{
	transform: translateX(-2px);
}
.icon-search{
	font-size: 32px;
	color: #32231a;
}
.nikitaSearchIcon:hover{
	cursor: pointer;
	color: #ff5b38;
} 

.textSearch{
	width: 90%;
	height: 35px;
	font-size: 30px;
	background-color:#e9e4d0;
	border: none;
	transform: translateX(20px);
	outline:none;
	font-family: "rockwell", sans-serif;
	margin: 0px;
	text-decoration: none;
	font-weight: 10;
}

.advancedSearch{
	grid-row: 2;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	font-size: 18px;
	height: 24px;
	width: 100%;
}
.searchHover:hover{
	color:  #ff5b38;
	cursor: pointer;
	filter: drop-shadow(3px -3px 0px rgba(0,0,0,0.5));
}

.information{	
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: #e9e4d0;
}
.icon-info-question:hover{
	cursor: pointer;
	color:  #ff5b38;
	filter: drop-shadow(3px -3px 0px rgba(0,0,0,0.5));
}

.mail{	
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 4;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: #e9e4d0;
}
.icon-mail:hover{
	cursor: pointer;
	color:  #ff5b38;
	filter: drop-shadow(3px -3px 0px rgba(0,0,0,0.5));
}

.cart{	
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: #e9e4d0;
}
.iconCartFrame{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.icon-cart-right{
	z-index:100;
}
.icon-cart-right:hover{
	cursor: pointer;
	color:  #ff5b38;
	filter: drop-shadow(1px -1px 0px rgba(0,0,0,0.5));
}
.headerCartMarketContent{
	background-color: #ff5b38;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	position: absolute;
	font-size: 15px;
	color: #e9e4d0;
	left: -1px;
	top: -24px;
	/* transform: translateX(-14px); */
	display: flex;
	align-items: center;
	justify-content: center;
}











/* Conception */
.conceptWrapper{
	grid-template-rows: 4fr 0.5fr;
	grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
	width: 80%;
	height: 190px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	grid-row-gap: 1vh;
	grid-column-gap: 0.5vw;
}
.conceptBG{
	/* width: calc(100% + 10px); */
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 1/10;
	background-color: #e9e4d0;
	border-radius: 20px;
	opacity: 0.3;
	z-index: -1;
	align-self: center;
	justify-self: center;
}
.concept{
	width: 100%;
	height: 100%;
	grid-template-rows: 72% 38%;
	grid-template-columns: 100%;
	align-self: center;
	justify-self: center;
	grid-gap: 0.2fr;
}
/* .concept:hover{
	cursor: pointer;
	border: #ff5b38 2px solid;
} */
.concept:hover{
	cursor: pointer;
}
.concept:hover i{
  color:#ff5b38;
}
.concept:hover h4{
  color:#ff5b38;
}
.conceptImg {
	grid-row: 1;
	grid-column: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.conceptRound{
	width: 90px;
	height: 90px;
	background-color: #e9e4d0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconConception{
	color: #32231a;
	font-size: 60px;
}
/* .iconConception:hover{
	cursor: pointer;
	color: #ff5b38;
} */
.conceptText{
	width: 100%;
	height: 70%;
	grid-row: 2;
	grid-column: 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: #e9e4d0;
	font-size: 25px;
	font-weight: 10;
}
/* .conceptText:hover{
	cursor: pointer;
	color: #ff5b38;
} */
.conceptArrow{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.conceptIconArrow{
	color: #e9e4d0;
	font-size: 70px;
	transform: translateY(-20%);
}

.conceptComment{
	width: 100%;
	height: 100%;
	grid-row: 2;
	grid-column: 1/10;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: #e9e4d0;
	text-decoration: underline;
}
.hoverConceptComment:hover{
	cursor: pointer;
	color:#ff5b38;
	text-decoration: underline;
}
.conceptPlace1{
	grid-row: 1;
	grid-column: 1;
}
.conceptPlace2{
	grid-row: 1;
	grid-column: 2;
}
.conceptPlace3{
	grid-row: 1;
	grid-column: 3;
}
.conceptPlace4{
	grid-row: 1;
	grid-column: 4;
}
.conceptPlace5{
	grid-row: 1;
	grid-column: 5;
}
.conceptPlace6{
	grid-row: 1;
	grid-column: 6;
}
.conceptPlace7{
	grid-row: 1;
	grid-column: 7;
}
.conceptPlace8{
	grid-row: 1;
	grid-column: 8;
}
.conceptPlace9{
	grid-row: 1;
	grid-column: 9;
}
/* Best Sale */
.saleWrapper{
	font-size: 65px;
	color:#ff5b38;
	width: 80%;
	/* height: 55px; */
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(4px -4px 0px rgba(0,0,0,0.8));
}
/* Slider */
.sliderArrowWrapper{
	width: 100%;
	/* height: 46vh; */
	/* height: 344px; */
	height: 320px;
	grid-template-rows: 100%;
	grid-template-columns: 10% 80% 10%;
	margin-left: auto;
	margin-right: auto;
}
.arrowLeft{
	grid-row: 1;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconArrowLeft{
	transform: scaleX(0.4) scaleY(1.5);
	font-size: 90px;
	color: #e9e4d0;
	/* transform: translateX(25px) */
}
.iconArrowLeft:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(-3px -3px 0px rgba(0,0,0,0.7));
}

.arrowRight{
	grid-row: 1;
	grid-column: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	}
.iconArrowRight{
	transform: scaleX(0.4) scale(-1, 1) scaleY(1.5);
	/* width: 50%; */
	font-size: 90px;
	color: #e9e4d0;
}
.iconArrowRight:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(-3px -3px 0px rgba(0,0,0,0.7));
}

.sliderWrapper{
	grid-row: 1;
	grid-column: 2;
	grid-template-rows: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* margin-top: 2vh; */
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/* grid-column-gap: 2%; */
}
.sliderBG{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 2;
	background-color: #ff5b38;
	border-radius: 20px;
	opacity: 0.4;
	z-index: 0;
}

.sliderImg{
	/* width: 240px;
	height: 344px; */
	width: 100%;
	height: 100%;
	align-self: center;
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

/* супер важные размеры!!! */
.tagIconWrapper{
	width: 192px;
	height: 276px;
	/* transform: scale(0.8); */
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/* border-radius: 5px; */
}
.tagIconWrapper:hover{
	cursor: pointer;
}
.tagIcon{
	position: absolute;
	top: 160px;
	left: 94px;
	width: 136px;
	height: 136px;
	filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.8));
	/* transform: scale(0.85); */
	/* transform: rotateX(-15deg); */
}
.saleText{
	position: absolute;
	width: 68px;
	height:59px;
	top: 188px;
	left: 152px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;
	/* transform: scale(0.85); */
}

.prevPrice{
	color: #e9e4d0;
text-decoration: line-through;
font-size: 21px;
}
.presentPrice{
	color: #32231a;
	font-size: 30px;
	margin-right: 15px;
}

.sliderImgPlace1{
	grid-row: 1;
	grid-column: 1;
}
.sliderImgPlace2{
	grid-row: 1;
	grid-column: 2;
}
.sliderImgPlace3{
	grid-row: 1;
	grid-column: 3;
}
.sliderImgPlace4{
	grid-row: 1;
	grid-column: 4;
}





/* Collection */
.collectionWrapper{
	font-size: 65px;
	color:#e9e4d0;
	width: 80%;
	/* height: 55px; */
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(4px -4px 0px rgba(0,0,0,0.8));
}
/* Sorting */
.sortWrapper{
	justify-content: center;
	align-content: center;
	height: 42px;
	width: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	grid-template-rows: 100%;
	grid-template-columns: 0.6fr 0.8fr 0.3fr;
}
.sortBG{
	background-color: #e9e4d0;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	grid-row: 1;
	grid-column: 1/4;
	z-index: 0;
}
.totalCardsWrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: start;
	margin-left: 10px;
	align-items: center;
	grid-row: 1;
	grid-column: 1;
	z-index: 10;
}
.totalText{
	color: #e9e4d0;
	font-size: 18px;
}
.cardsAmount{
	color: #e9e4d0;
	font-size: 20px;
	margin-left: 10px;
}
.sorting{
	display: flex;
	align-items: center;
	justify-content: space-around;
	grid-row: 1;
	grid-column: 2;
}
.sortText{
	width: 100%;
	height: 100%;
	grid-template-rows: 100%;
	grid-template-columns: 1fr 0.7fr;
	grid-row: 1;
	grid-column: 2;
	color: #e9e4d0;
	font-size: 18px;
	grid-column-gap: 20px;
	z-index: 50;
	}
	.sortTextBy{
		align-self: center;
		justify-self: end;
	}
	.sortTextPlace1{
		grid-row: 1;
		grid-column: 1;
	}
	.sortTextPlace2{
		grid-row: 1;
		grid-column: 2;
		transform: translateX(-25px);
	}
	.sortingTypeFrame{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sortingTypeFrame:hover{
		cursor: pointer;
		background-color: #ff5b38;
	}


.sortingTypeFrameText{
	color: #140f0b;
}
.sortingTypeArrow{
	padding-left: 3px;
	
}
.sortingTypeArrowMirror{
	transform: scale(1, -1) translateY(-2px);
	}
.sortingTypeWrapper{
	align-self: center;
	justify-self: start;
	margin-left: 20px;
}
.sortingType:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.7));
}
.sortListing{
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 100%;
	width: 130px;
	height: 130px;
	align-content: center;
	justify-items: center;
	margin-top: 42px;
	align-self: start;
	z-index: 50;
	grid-gap: 5px;
	background-color: #e9e4d0;
	justify-self: start;
	margin-left: 20px;
	/* border-radius: 20px; */
	visibility: hidden;
	/* display: none; */
}
.sortListingVisibility{
	visibility: visible;
}

.sortDirection{
	grid-row: 1;
	grid-column: 3;
	font-size: 30px;
	color: #e9e4d0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	z-index: 20;
}
.icon-sort-up:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(3px 3px 0px rgba(0,0,0,0.7));
}
.icon-sort-down:hover{
	cursor: pointer;
	color: #ff5b38;
	filter: drop-shadow(3px 3px 0px rgba(0,0,0,0.7));
}












/* market */
.marketWrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	grid-row-gap: 7px;
	grid-column-gap: 7px;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}
.outerFrame{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.marketFrame{
	width: 350px;
	height: 250px;
	grid-template-columns: 176px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	align-self: center;
	justify-self: center;
}
.marketFrameBG{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* grid-row: 1;
	grid-column: 1/3; */
	background-color: #e9e4d0;
	border-radius: 10px;
	opacity: 0.3;
}
/* Супер важные размеры!!! */
.imgMarketFrame{
	width: 170px;
	height: 240px;
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 10;
	border-radius: 10px;
}
.textMarketFrame{
	grid-row: 1;
	grid-column: 2;
	grid-template-rows: 70% 30%;
	grid-template-columns: 100%;
	width: 100%;
	height: 100%;
	color: #e9e4d0;
	z-index: 10;
}
.infoMarketFrame{
	grid-row: 1;
	grid-column: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	font-size: 15px;
}
.mainMarketFrame{
	grid-column: 1;
	grid-row: 2;
	grid-template-rows: 100%;
	grid-template-columns: 1fr 0.4fr;
}
.priceMarketFrame{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	font-size: 17px;
}
.infoMarketName{
	font-size: 20px;
	color: #e9e4d0;
	filter: drop-shadow(2px -2px 0px rgba(0,0,0,0.8));
}
.infoMarketPriceText{
	font-size: 20px;
	color: #e9e4d0;
	/* filter: drop-shadow(2px -2px 0px rgba(0,0,0,0.8)); */
}
.infoMarketPrice{
	font-weight: 600;
	color:#ff5b38;
}
.cartMarketFrame{
	width: 100%;
	height: 100%;
	grid-row: 1;
	grid-column: 2;
	position: relative;
}
.cartMarketContent{
	background-color: #ff5b38;
	background-position: center center;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	position: absolute;
	font-size: 15px;
	color: #e9e4d0;
	left: 12px;
	top: -1px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.markerIconCart{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	z-index: 10;
}

/* LOAD MORE */
.moreWrapper{
	margin-top: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.moreText{
	padding: 5px;
	 /* background-color: #140f0b;  */
	border-radius: 10px;
	border:#ff5b38 2px solid;
	font-size: 30px;
	color:#ff5b38;
}
.moreText:hover{
	cursor: pointer;
	color:#e9e4d0;
	border:#e9e4d0 2px solid;
 /* background-color: #140f0b;  */
 filter: drop-shadow(3px -3px 0px rgba(0,0,0,1));
}
.loadedCards{
	display: flex;
	align-items: center;
	justify-content: center;
}
.loadedCardsText{
	color: #ff5b38;
	font-size: 16px;
}









/* footer */
.footerWrapper{
	border-top: 1px solid #e9e4d0;
	width: 100%;
	height: 40vh;
	/* background-color: #140f0b; */
	margin-top: 150px;
	grid-template-rows: 100%;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2fr;
}
.footerBG{
	width: 100%;
	height: 100%;
	grid-column: 1/3;
	grid-row: 1;
	align-self: center;
	justify-self: center;
	filter: brightness(0.6);
	/* z-index: -1; */
}

