
.icon-land:before { content: '\e801'; } /* '' */
.icon-colour-no:before { content: '\e802'; } /* '' */
.icon-colour-m:before { content: '\e803'; } /* '' */
.icon-colour-w:before { content: '\e804'; } /* '' */
.icon-colour-r:before { content: '\e805'; } /* '' */
.icon-colour-b:before { content: '\e806'; } /* '' */
.icon-colour-u:before { content: '\e807'; } /* '' */
.icon-colour-g:before { content: '\e808'; } /* '' */