
.icon-info-question:before { content: '\e800'; } /* '' */
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-enjoy:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-money:before { content: '\e804'; } /* '' */
.icon-wait:before { content: '\e805'; } /* '' */
.icon-sort-up:before { content: '\e806'; } /* '' */
.icon-sort-down:before { content: '\e807'; } /* '' */
.icon-order:before { content: '\e808'; } /* '' */
.icon-cart-right:before { content: '\e809'; } /* '' */
.icon-arrow-left:before { content: '\e80a'; } /* '' */
.icon-cart-left:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-cross:before { content: '\e80e'; } /* '' */
.icon-info:before { content: '\f086'; } /* '' */