
.icon-land:before { content: '\e830'; } /* '' */
.icon-colour-no:before { content: '\e831'; } /* '' */
.icon-colour-m:before { content: '\e832'; } /* '' */
.icon-colour-w:before { content: '\e833'; } /* '' */
.icon-colour-r:before { content: '\e834'; } /* '' */
.icon-colour-b:before { content: '\e835'; } /* '' */
.icon-colour-u:before { content: '\e836'; } /* '' */
.icon-colour-g:before { content: '\e837'; } /* '' */